.services-title {
    position: relative;
}

.services-title::after {
    content: '';
    width: 120px;
    height: 3px;
    background-color: var(--dk-accent);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}
