.banner-bg {
    background-image: url('./../../../assets/Banner/banner.jpg');
    width: 100%;
    min-height: 600px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-title {
    font-size: 60px;
}

.banner-desc {
    width: 65%;
    margin: 0 auto;

}